@import '../sharedStyles/_colors';
@import '../sharedStyles/_sizes';

// Big Button
.bigBtn {
  background: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.bigBtn:disabled {
  opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
  .bigBtn {
    margin-bottom: $xl-size;
  }
}
